* {
    font-family: Arial, Helvetica, sans-serif;
}

#barra {
    width: 100%;
    transform: translate(0%, -20%);
}


body {
    background-image: url("./imagenes/fondo.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: white;
} 

#title {
    margin: 0% 5% 0% 45%; 
}  


table{
    margin: 0% 10% 0% 50%; 
    border-spacing: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
}

#Validar{
    font-size: 1.09em;
    margin: 0% 40% 0% 50%; 
    padding: 5px 30px;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    border: green;
    color:ghostwhite;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);  
    
}





#validado{
    text-align: center;
    padding: 50px 50px 50px 50px;
    margin: auto;
} 

#invalidado{
    text-align: center;
    padding: 20px 20px 20px 100px;
    margin: 0% 10% 0% 30%;     

}
#volver{
    font-size: 1.09em;
    padding: 5px 30px;
    text-align: center;
    background-color: hsl(0, 0%, 100%) ;
    border-radius: 10px;
    border: rgb(102, 102, 102); 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}


#numberDinamico{
    font-size: 1.5em;
    position: absolute;
    top: 56%;
    left: 14%;
}

#nameDinamico{
    position: absolute;
    top: 68%;
    left: 9%;
    text-transform:uppercase;
}

#fechaDinamica{
    position: absolute;
    top: 71%;
    left: 27%;
}

#cvvDinamico{
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 37.5%;
    left: 30.2%;
}

#tarjeta1{
    position: absolute;
    top: 63%;
    left: 20%;
    transform: translate(-50%, -50%);

}
#tarjeta2{
    position: absolute;
    top: 45%;
    left:25%;
    transform: translate(-50%, -50%);
}
